
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*layout control*/
.layout-title{
  width:100%;
  height:140px;
  background-image:url(resources/cms-title.jpg);
  background-position:center -140px;
}

.layout-content{
  height:550px;
  margin: 1px;
  padding: 1px;
  border:2px solid;
}
.layout-menucontainer{
  width:13%;
  position: relative;
  background-color: bisque;
  float:left;
  display:'';
}

.layout-tabcontainer{
  width:86%;
  height:550px;
  position: relative;
  margin:1px;
  background-color: bisque;
  float:right;
  display:'';
  border:1px solid;
}

